@tailwind base;
@tailwind components;
@tailwind utilities;

.structured-data {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.structured-data h2 {
	font-weight: 700;
	font-size: 2rem;
	margin-top: 2rem;
}

.structured-data h3 {
	font-weight: 700;
	font-size: 1.75rem;
	margin-top: 1.5rem;
}

.structured-data h4 {
	font-weight: 700;
	font-size: 1.5rem;
	margin-top: 1.25rem;
}

.structured-data p {
	text-align: justify;
}

.structured-data a {
	text-decoration: underline;
	color: var(--title);
}
