.structured-data {
	display: flex;
	flex-direction: column;
	gap: 1.25rem; 
}

.structured-data h2 {
	margin-top: 1.75rem;
	font-size: 1.875rem; 
	line-height: 2.25rem;
	font-weight: 700; 
}

.structured-data h3 {
	margin-top: 1.25rem; 
	font-size: 1.5rem; 
	line-height: 2rem;
	font-weight: 600; 
}

.structured-data p {
	text-align: justify;
	opacity: 0.85;
}

.structured-data a {
	color: var(--title); 
	text-decoration: underline;
}

.structured-data ul li ul {
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 1.5rem; 
}

.structured-data ul {
	list-style-position: inside;
	list-style-type: disc;
}

.structured-data ul li p {
	display: inline;
}
