@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--post-body: #232427;
	--title: #c9d3e7;
	--background: #2a2d34;
	--button: #1abc9c;
	--header: #101010;
}

@media (prefers-color-scheme: dark) {
	:root {
		--post-body: #232427;
		--title: #c9d3e7;
		--background: #2a2d34;
		--button: #1abc9c;
		--header: #101010;
	}
}

body {
	color: var(--title);
	background: var(--background);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

