@import "tailwindcss";

:root {
	--title: #2cb67d;
	--text: #c9d3e7;
	--background: #141615;
	--flex-2: 2 2 0%;
	--flex-3: 3 3 0%;
	--flex-4: 4 4 0%;
}

@theme inline {
	--color-title: var(--title);
	--color-text: var(--text);
	--color-background: var(--background);
}

@layer utilities {
	.flex-2 {
		flex: var(--flex-2);
	}

	.flex-3 {
		flex: var(--flex-3);
	}

	.flex-4 {
		flex: var(--flex-4);
	}
}

body {
	background: var(--background);
  color: var(--text);
}
